/*  general styles */

body {
  font-family: "Poppins", sans-serif;
  background: #130000;
  color: white;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
h1 {
  color: #e74d61;
}
.body p {
  font-size: 22px !important;
}
.modal-btn {
  display: flex !important;
  flex-direction: row-reverse !important;
  background-color: #e74d61 !important;
  border-radius: 8px !important;
}
.check {
  position: relative;
  top: 15px;
}
.modal-btn a {
  color: white !important;
}
.modal-btn-svg {
  width: 23px !important;
  position: relative !important;
  top: 1px !important;
  left: 7px !important;
}
.modal-btn:hover {
  background-color: white !important;
  transition: all 0.3s ease-in-out;
  color: black !important;
}
.modal-btn:hover a {
  color: black !important;
  transition: all 0.3s ease-in-out;
}
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: unset !important;
}
